<h1>School Class Form</h1>

<%= form_for(@school_class) do |f| %>
  <%= f.label :title, "Title: "%>
  <%= f.text_field :title %><br>
  <%= f.label :last_name, "Last Name: "%>
  <%= f.text_field :last_name%><br>

  <%= f.submit %>
<% end %>
